<?xml version="1.0"?>
<configuration>
  <configSections></configSections>
  <connectionStrings>
    <add name="ReportsApplication1.Properties.Settings.PODFOConnectionString" connectionString="Data Source=usasql;Initial Catalog=PODFOLIVE;User ID=USASql;Password=Usa@12345678" providerName="System.Data.SqlClient"/>
    <add name="PODFOEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=usasql;initial catalog=PODFOLIVE;User ID=USASql;Password=Usa@12345678;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <add key="UseTestDB" value="True" />
    <add key="PODFOTestConnectionString" value="Data Source=usasql;Initial Catalog=PODFODEV2;User ID=USASql;Password=Usa@12345678" />
    <add key="PODFOProdConnectionString" value="Data Source=usasql;Initial Catalog=PODFOLIVE;User ID=USASql;Password=Usa@12345678" />
  </appSettings>
</configuration>
