<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <connectionStrings>
    <add name="ProcessWorker.Properties.Settings.PODFOConnectionString"
      connectionString="Data Source=usasql;Initial Catalog=PODFOLIVE;User ID=USASql;Password=Usa@12345678" />
  </connectionStrings>
  <appSettings>
    <add key="UseTestDB" value="True" />
    <!--<add key="PODFOTestConnectionString" value="Data Source=usasql;Initial Catalog=PODFODEV2;Integrated Security=True" />-->
    <!--<add key="PODFOProdConnectionString" value="Data Source=usasql;Initial Catalog=PODFOLIVE;Integrated Security=True" />-->
    <add key="PODFOTestConnectionString" value="Data Source=usasql;Initial Catalog=PODFODEV2;User ID=USASql;Password=Usa@12345678" />
    <add key="PODFOProdConnectionString" value="Data Source=usasql;Initial Catalog=PODFOLIVE;User ID=USASql;Password=Usa@12345678" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
</configuration>
